nav#topnav {
	width: 100%;
	height: 89px;
	position: relative;
    display: inline-block;
}

input{
    height: 25px;
    width: 400px;
    font-size:10pt;
    box-sizing: border-box;
    transform: translate(130%,500px);
}


img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    transform: translate(0%,80%)

}

.textbox{

    transform: translate (-80%, 0%)
}

.top-left{
float:left;
margin:0px 10px;
list-style-type: none;
}



.top-right{
    float: right;
    margin:0px 10px;
    list-style-type: none;
}

nav#footer{
        width: 100%;
        height: 40px;
        position: fixed;
        bottom: 0;
        left: 0;
        display: inline-block;
        background:#f2f2f2;
      border-top: 1px solid #e4e4e4;
}

.bottom-left{
    list-style-type: none;

}

.bottom-right{
    list-style-type: none;

}